/* Container styles */
.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;

    margin-bottom: 10vw;
}

/* Title styles */
.login-container h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

/* Subtitle styles */
.login-container p {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #666;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #555;
}

/* Button styles */
.login-button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #555;
}

/* Signup text */
.signup-text {
    margin-top: 15px;
    font-size: 0.85rem;
    color: #666;
}

.signup-text a {
    color: #007bff;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}
